!!!
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.1.0.css')
    script(src='/js/jquery-1.7.2.js')
    script(src='/js/jquery.mobile-1.1.0.js')
  body
    div(data-role='page', data-add-back-btn='true', data-position='fixed')
      div(data-role='header')
        h1= title
        a(href='/') Home
      div(data-role='content')!= body
      div(data-role='footer', data-position='fixed')
        a(href='/settings') Settings
